@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'NeoDunggeunmoPro-Regular';
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}

img{
    vertical-align: top;
}


#container{
    position: relative;
}

#title{
    text-align: center;
    margin:20px 0;
}

.level-container{
    text-align: center;
    margin-bottom: 20px;
}

#board-container{
    width: 610px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
}

.block{
    width: 100px;
    height: 100px;
    border: 0.5px solid black;
}
.block.wrong{
    background-image: url(./X.jpg);
    background-position: center;
    background-size: cover;
}


.numBlock{
    width: 100px;
    height: 100px;
    border: 0.5px solid black;
    display: flex;
}

#num-row > .numBlock{
    align-items: center;
}
#num-row > .numBlock > p{
    width: 100%;
    text-align: right;
    
}



#num-col{
    margin-left: 101px;
    display: flex;
    height: 101px;
}

#num-col > .numBlock{
    justify-content: center;
    text-align: center;
    align-items: end;
}



.heart > img{
    width: 40px;
    height: 40px;
}


#game-over{
    width: 300px;
    height: 200px;
    background-color: #eee;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid red;
    display: none;
}

#game-over > h1{
    font-size: 40px;
    margin: 30px 0;
}

#game-over .retry-btn{
    display: inline-block;
    background-color: #fff;
    font-size: 28px;
    padding: 15px 30px;
    border-radius: 15px;
    margin-top: 15px;
    color: red;
    border: 2px solid blue;
}

