@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 
back : 2A317B
cyan : 76D9E2
blue : 3B9BE5
purple : AD69C6
pink : CD4982
light : F1FEFF

*/

* {
    font-family: 'NeoDunggeunmoPro-Regular';
    margin: 0;
    padding: 0;
}

body{
    background-color: #1d2470;
}

a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}

img{
    vertical-align: top;
}


#container{
    position: relative;
}

#header #title{
    text-align: center;
    margin:20px 0;
    font-size: 40px;
    color: #EFF8FF;
    text-shadow: 0px 0px 7px #3B9BE5;
    font-weight: 400;
}

#header .level-container{
    text-align: center;
    margin-bottom: 20px;
    color: #FFE8F2;
    font-size: 18px;
    text-shadow: 0px 0px 7px #7ecd49;

}


#board-container{
    width: 610px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 30px;
    
}

.row{
    display: flex;
}

.block{
    width: 100px;
    height: 100px;
    border: 0.5px solid #76D9E2;
    background-color: #F1FEFF;
}
.block.correct{
    background-color: #F276AC;
}
.block.wrong{
    background-image: url(./assets/X.png);
    background-position: center;
    background-size: cover;
}


.numBlock{
    width: 100px;
    height: 100px;
    border: 0.5px solid #76D9E2;
    display: flex;
}

#num-row > .numBlock{
    align-items: center;
}
#num-row > .numBlock > p{
    width: 100%;
    text-align: right;
    color: #fff;
    padding-right: 10px;
}



#num-col{
    margin-left: 101px;
    display: flex;
    height: 101px;
}

#num-col > .numBlock{
    justify-content: center;
    text-align: center;
    align-items: end;
}
#num-col > .numBlock > p{
    padding-bottom: 10px;
    color: #fff;
}




.life{
    width: 610px;
    margin: 0 auto;
}

.life .heart > img{
    width: 45px;
    height: 45px;
}




/* Game Finished */

.game-fin{
    width: 300px;
    height: 200px;
    background-color: #ecf6ff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    /* border-radius: 10px; */
    border: 3px solid #AD69C6;
    box-shadow: 4px 4px 0 #76D9E2;
}

#game-over{
    display: none;
}

#game-complete{
    display: none;
}


.game-fin > h1{
    font-size: 40px;
    margin: 35px 0;
    color: #76D9E2;
    text-shadow: 3px 3px 0 #AD69C6;
}

.game-fin > a{
    display: inline-block;
    background-color: #FF92C1;
    font-size: 28px;
    padding: 7px 20px;
    /* border-radius: 5px; */
    margin-top: 15px;
    color: #76D9E2;
    text-shadow: 2px 2px 0 #AD69C6;
    border: 2px solid #AD69C6;
}

.game-fin > a:hover{
    background-color: #76D9E2;
    color: #FF92C1;
    text-shadow: 2px 2px 0 #AD69C6;
    border: 2px solid #AD69C6;
}

